.hours {
	fill: none;
	stroke: #000000;
	stroke-dasharray: 5,5
}

.task {
	fill: #dddddd;
	stroke: #000000;
}

.button {
	cursor: pointer;
	display: inline-block;
	color: white;
	padding: 0.5em 1em;
	background-color: #0078e7;
	border-radius: 4px;
	margin-left: 4px;
}